html, body {
    font-family: Microsoft YaHei !important;
    font-size: 90% !important;
    height: 100%;
    margin: 0;
}

.transparent tr, .transparent td {
    background: none !important;
    border: none !important;
}
